<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/basic::setContent(~{this::content})}">
	<th:block th:fragment="content">
	<h1 id="namedate">[[${#temporals.format(dto.regdate, 'yyyy년 MM월 dd일')}]]의 일기</h1>
		<div class="form-group">
			<label>일기 제목</label>
			<input type="text" class="form-control" name="title" th:value="${dto.title}" readonly/>
		</div>
		<div class="form-group">
			<label>이날의 날씨</label>
			<input type="text" class="form-control" name="title" th:value="${dto.weather}" readonly/>
		</div>
		<div class="form-group">
		<label>이날의 사진</label>
		<div th:if="${#lists.size(dto.imagelist)} == 0">
			<p>저장된 이날의 사진이 없습니다.<br/></p>
		</div>
		<div class="row row-cols-1 row-cols-md-5 g-4">
			<div class="col" th:each="img : ${dto.imagelist}">
				<div class="card h-100" style="width: 18rem;">
				  <img th:src="@{/images/}+${img.imageurl}" class="card-img-top" alt="사진 불러오기를 실패했습니다.">
				  <div class="card-footer">
				    <small class="text-muted">[[${img.name}]]</small>
			      </div>
				</div>
			</div>
		</div>
		</div>
		<div class="form-group">
			<label>일기 내용</label>
			<textarea rows="5" class="form-control whitespace-pre-wrap" name="contnet"
			disabled>[[${dto.content}]]</textarea>
			
		</div>
		<div class="form-group">
		<a th:href="@{/mydiary/home(page=${requestDTO.page}, type=${requestDTO.type}, 
		keyword=${requestDTO.keyword})}"><button type="button" class="btn btn-info">목록</button></a>
		<a th:href="@{/mydiary/modify(dno=${dto.dno},regdate=${dto.regdate},mno=${mno},
		 page=${requestDTO.page}, type=${requestDTO.type}, keyword=${requestDTO.keyword})}">
		<button type="button" class="btn btn-primary">수정</button></a>
		</div>
		<div th:if="${prevdto.dno} == -1">
			<a class="disabled">이전 일기가 없습니다.</a>
		</div>
		<div th:unless="${prevdto.dno} == -1">
			<a th:href="@{/mydiary/diary(dno = ${prevdto.dno}, regdate=${prevdto.regdate}, mno=${mno},
			page=${requestDTO.page},type=${requestDTO.type},keyword=${requestDTO.keyword})}">
			이전 일기 : [[${#temporals.format(prevdto.regdate, 'yyyy년 MM월 dd일')}]]의 일기
               </a>
        </div>
        <div th:unless="${nextdto.dno} == -1">
            <a th:href="@{/mydiary/diary(dno = ${nextdto.dno}, regdate=${nextdto.regdate}, mno=${mno},
            page= ${requestDTO.page},type=${requestDTO.type},keyword=${requestDTO.keyword})}">
			다음 일기 : [[${#temporals.format(nextdto.regdate, 'yyyy년 MM월 dd일')}]]의 일기
               </a>
		</div>
		<div th:if="${nextdto.dno} == -1">
			<a class="disabled">다음 일기가 없습니다.</a>
		</div>
	</th:block>
</th:block>
